{% load static %}
<div class="product_cell_id" id="{{ product.id }}_cart">
    <div class="columns is-multiline is-mobile">
        <div class="column is-3 is-hidden-touch">
            <div class="is-size-6 m-2">{{ product.name }}</div>
            <div class="m-2 my-4">
                {% if product.status == "在庫なし" %}
                <span class="tag is-danger is-light">在庫なし</span><br />
                {% elif product.status == "在庫あり" %}
                <span class="tag is-primary is-light">在庫あり</span><br />
                {% elif product.status == "残りわずか" %}
                <span class="tag is-warning is-light">残りわずか</span><br />
                {% endif %}
            </div>
        </div>
        <div class="column is-12 is-hidden-desktop">
            <div class="is-size-6 mx-2">{{ product.name }}</div>
            <br />
            <p class="mx-1">
                {% if product.status == "在庫なし" %}
                <span class="tag is-danger is-light">在庫なし</span><br />
                {% elif product.status == "在庫あり" %}
                <span class="tag is-primary is-light">在庫あり</span><br />
                {% elif product.status == "残りわずか" %}
                <span class="tag is-warning is-light">残りわずか</span><br />
                {% endif %}
            </p>
        </div>
        <div class="column has-text-centered"><c style="font-size: 12px">￥</c><c class="cart_price is-size-3">{{ product.price_sell }}</c></div>
        <div class="column has-text-centered">
            <div class="columns is-mobile">
                <div class="column"><button class="is-gray button" onclick="countdisplay('down',this)">ー</button></div>
                <div class="column cart_product_number has-text-centered is-size-4" id="{{ product.id }}_cart_number">{{ number }}</div>
                <div class="column"><button class="is-gray button" onclick="countdisplay('up',this)">＋</button></div>
                <div hidden>{{ product.limit }}</div>
            </div>
        </div>
    </div>
</div>
