{% extends 'ticket/console_base.html' %} {% block content %}
<style>
    h1 {
        padding: 0.25em 0.5em; /*上下 左右の余白*/
        color: #494949; /*文字色*/
        background: transparent; /*背景透明に*/
        border-left: solid 5px #00517c; /*左線*/
    }
</style>
<nav class="navbar has-background-white-ter" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><p class="is-size-6 m-2">Console</p></li>
                    <li class="is-active is-size-4"><a href="#" aria-current="page">Shop</a></li>
                </ul>
            </nav>
        </div>
        <p class="navbar-item" style="margin-left: 10px">ようこそ {{ user.username }} さん</p>
    </div>
</nav>
<div class="columns">
    <div class="column is-10 m-4 mb-6">
        <h1 id="info" class="m-2"><strong>店舗情報</strong></h1>
        <p>店舗情報の登録・修正を行います</p>
        <div class="columns is-multiline my-4">
            <div class="column is-2 has-text-centered">
                <label>店舗名</label>
            </div>
            <div class="column is-5">
                <div class="columns">
                    <div class="column is-10">
                        <input class="input" placeholder="店舗名" value="{{ shop.name }}" id="shop_name"/>
                    </div>
                    <div class="column is-2"><a class="button is-outlined" id="shop_name_btn">保存</a></div>
                </div>
            </div>
            <div class="column is-5"></div>
            <div class="column is-2 has-text-centered">
                <label>店舗コード</label>
            </div>
            <div class="column is-5">
                <div class="columns">
                    <div class="column is-10">
                        <input class="input" placeholder="店舗コード" type="text" disabled value="{{ shop.code }}"/>
                        <p class="help has-text-danger">店舗コードは変更できません</p>
                    </div>
                    <div class="column is-2"></div>
                </div>
            </div>
            <div class="column is-5"></div>
        </div>
        <h1 id="cs_general" class="m-2"><strong>チケット一般設定</strong></h1>
        <p>チケットの基本的な内容について設定を行います</p>
        <div class="columns is-multiline my-4">
            <div class="column is-2 has-text-centered">
                <label>ユーザー種別</label>
            </div>
            <div class="column is-5">
                <table class="table">
                    <tbody>
                        {% for cstype_item in cstype_list %}
                        <tr>
                            <td>{{ cstype_item.name }}</td>
                            <td><a class="cstype_list has-text-danger" data-target="{{ cstype_item.id }}">削除</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="columns">
                    <div class="column is-10">
                        <input class="input" placeholder="追加する名前を入力" type="text" id="cstype_new_input"/>
                    </div>
                    <div class="column is-2"><a class="button is-outlined" id="cstype_new_btn">追加</a></div>
                </div>
            </div>
            <div class="column is-5"></div>
            <div class="column is-2 has-text-centered">
                <label>最小人数</label>
            </div>
            <div class="column is-5">
                <div class="columns">
                    <div class="column is-10">
                        <input class="input" type="number" placeholder="最小人数" id="min_number" value="{{ shop.people_min }}"/>
                    </div>
                    <div class="column is-2"><a class="button is-outlined"id="min_number_btn">変更</a></div>
                </div>
            </div>
            <div class="column is-5"></div>
            <div class="column is-2 has-text-centered">
                <label>最大人数</label>
            </div>
            <div class="column is-5">
                <div class="columns">
                    <div class="column is-10">
                        <input class="input" type="number" placeholder="最大人数" id="max_number"  value="{{ shop.people_max }}"/>
                    </div>
                    <div class="column is-2"><a class="button is-outlined"id="max_number_btn">変更</a></div>
                </div>
            </div>
            <div class="column is-5"></div>
        </div>
        <h1 id="cs_platform" class="m-2"><strong>チケット発行設定</strong></h1>
        <p>チケット発行について設定を行います</p>
        <div class="columns is-multiline my-4">
            <div class="column is-2 has-text-centered">
                <label>プラットフォーム</label>
            </div>
            <div class="column is-5">
                <div class="columns is-multiline">
                    <div class="column is-8">
                        <p>webサイト(外部公開)</p>
                        <p class="help">この方法が有効な場合、ユーザーはURLを知っていれば店舗に訪れることなくチケットを発行できるようになります</p>
                    </div>
                    <div class="column is-2"><a class="button is-success" id="online_ticket_valid">有効</a></div>
                    <div class="column is-2"><a class="button is-outlined is-danger" id="online_ticket_invalid">無効</a></div>
                </div>
            </div>
        </div>
        <h1 id="cs_webpage" class="m-2"><strong>WEBページ設定</strong></h1>
        <p>WEBページについて設定を行います</p>
        <div class="columns is-multiline my-4">
            <div class="column is-2 has-text-centered">
                <label>メッセージ</label>
            </div>
            <div class="column is-5">
                <div class="columns">
                    <div class="column is-10">
                        <textarea class="input" style="height: 10vh" id="shop_message"></textarea>
                        <p class="help">ここで入力した内容が呼び出し番号表示ページ内の「店舗からのお知らせ」として表示されます</p>
                    </div>
                    <div class="column is-2"><a class="button is-outlined" id="shop_message_btn">保存</a></div>
                </div>
            </div>
            <div class="column is-5"></div>
        </div>
        <h1 id="payments" class="m-2"><strong>Payments</strong></h1>
        <p class="has-text-danger m-4">現在、このサービスでは有料サービスは提供されていません</p>
        <p class="has-text-danger m-4">すべての機能が無料でお使い頂けます</p>
        <div class="is-size-3"><a class="is-light is-link button" href="{% url 'shop:dashboard' shop.id %}">支払いやプランの確認はこちら</a></div>
    </div>
    <script>
        function ajax_handler(command,value){
            $.ajax({
                    url: "{% url 'ticket:ajax' %}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        command: command,
                        shopID: '{{shop.id }}',
                        value: value
                    },
                })
                    .done(function (response) {
                    })
                    .fail(function (xhr) {
                    })
        }
        document.getElementById('shop_name_btn').addEventListener('click', function(){
            var name = document.getElementById('shop_name').value
            ajax_handler("shop_rename",name)
        });
        document.getElementById('cstype_new_btn').addEventListener('click', function(){
            var value = document.getElementById('cstype_new_input').value
            ajax_handler("shop_cstype_add",value)
        });
        document.getElementById('min_number_btn').addEventListener('click', function(){
            var value = document.getElementById('min_number').value
            ajax_handler("shop_change_min_number",value)
        });
        document.getElementById('max_number_btn').addEventListener('click', function(){
            var value = document.getElementById('max_number').value
            ajax_handler("shop_change_max_number",value)
        });
        document.getElementById('online_ticket_valid').addEventListener('click', function(){
            ajax_handler("online_ticket_valid","True")
        });
        document.getElementById('online_ticket_invalid').addEventListener('click', function(){
            ajax_handler("online_ticket_invalid","False")
        });
        document.getElementById('shop_message_btn').addEventListener('click', function(){
            ajax_handler("shop_message",document.getElementById("shop_message").textContent)
        });
        (document.querySelectorAll('.cstype_list') || []).forEach(($trigger) => {
            const $target = $trigger.dataset.target;
            $trigger.addEventListener('click', () => {
                ajax_handler("shop_cstype_delete",$target)
            });
        });
    </script>
    <div class="column is-2 m-4 mr-4">
        <aside class="menu container box shopsidebar" style="position: fixed; top: 50px; right: 20px">
            <p class="menu-label">Shop</p>
            <ul class="menu-list">
                <li><a href="#info">Info</a></li>
            </ul>
            <p class="menu-label">Customer</p>
            <ul class="menu-list">
                <li><a href="#cs_general">General</a></li>
                <li><a href="#cs_platform">Platform</a></li>
                <li><a href="#cs_webpage">Web Page</a></li>
            </ul>
            <p class="menu-label">Security</p>
            <ul class="menu-list">
                <li><a href="#payments">Payments</a></li>
            </ul>
        </aside>
    </div>
</div>
{% endblock %}
