*,
*:before,
*:after {
    box-sizing: border-box;
}

html,body{
    max-height: 100vh;
    max-width: 100vh;
}

.reader {
    margin-top: 10vh;
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.reader-video {
    background-color: #000;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@-webkit-keyframes move_reticle {
    from {
        width: 70vw;
        height: 70vw;
    }
    to {
        width: 75vw;
        height: 75vw;
    }
}
@keyframes move_reticle {
    from {
        width: 70vw;
        height: 70vw;
    }
    to {
        width: 75vw;
        height: 75vw;
    }
}

.modal-overlay {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.unsupported {
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #000;
    color: #fff;
    z-index: 999;
}

.unsupported.is-show {
    display: flex;
}

.unsupported-title {
    font-weight: bold;
    font-size: 2em;
}