.selectbox::before {
    display: inline-block;
    right: 0;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 25px 25px 0;
    background-color: #00517c;
}

.selectbox::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.selectbox select {
    appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 25px;
    background-color: #e6edf3;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

.selectbox select:focus {
    outline: 2px solid #00517c;
}