<section>
    {% if products.count == 0 %}
    <section class="hero is-light">
        <div class="hero-body">
            <p class="title">No Data</p>
            <p class="subtitle">情報が取得できません</p>
        </div>
    </section>
    {% else %} {% for opr in products %}
    <div class="container box m-1">
        <div class="columns">
            <div class="column"><c style="font-size: 12px">商品名</c><br />{{ opr.product.name }}</div>
            <div class="column"><c style="font-size: 12px">カテゴリー</c><br />{{ opr.product.category }}</div>
            <div class="column"><c style="font-size: 12px">数量</c><br />{{ opr.number }}個</div>
            <div class="column"><c style="font-size: 12px">単価</c><br />{{ opr.price }}円</div>
        </div>
    </div>
    {% endfor %} {% endif %}
</section>
