{% extends 'shop/console_base.html' %} {% block content %}
<nav class="navbar has-background-white-ter" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><p class="is-size-6 m-2">Console</p></li>
                    <li class="is-active is-size-4"><a href="#" aria-current="page">Product</a></li>
                </ul>
            </nav>
        </div>
        <p class="navbar-item" style="margin-left: 10px">ようこそ {{ user.username }} さん</p>
    </div>
</nav>

<div class="container is-main">
    <!--
    <main class="content mt-4 mr-2 ml-2" style="overflow-y: auto; overflow-x: hidden">
        <section class="hero is-light" style="width: 100%;">
            <div class="hero-body">
                <p class="title">
                    この機能は現在提供されていません
                </p>
                <p class="subtitle">
                    近日提供予定です
                </p>
            </div>
        </section>
    </main>
    -->
    <div class="columns">
        <div class="column is-2 mt-6">
            <div class="container is-side sidebar m-2 box">
                <aside class="menu">
                    <a class="button is-gray is-fullwidth">新規作成</a>
                    <p class="menu-label">Category</p>
                    <ul class="menu-list">
                        {% for cat in categories %}
                        <li><a onclick="get_data('{{ cat }}')">{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>
        <div id="product_list" class="columns is-10"></div>
        <script>
            // csrf_tokenの取得に使う
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === name + '=') {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
            }

            function get_data(category) {
                var csrf_token = getCookie('csrftoken');
                path = "{% url 'shop:product_ajax' %}";
                $.ajax({
                    type: 'POST',
                    url: path,
                    data: {
                        scd: '{{ shop.code }}',
                        type: 'get_category',
                        category: category,
                    },
                    dataType: 'html',
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader('X-CSRFToken', csrf_token);
                        }
                    },
                })
                    .done(function (data) {
                        document.getElementById('product_list').innerHTML = data;
                    })
                    .fail(function (data) {
                        // error
                        console.log(data);
                        window.alert('通信エラーが発生しました(E-100)');
                    });
            }
        </script>
    </div>
</div>
{% endblock %}
