{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>NOSTA</title>
        <link rel="icon" href="{% static 'image/favicon.ico' %}" />
        <meta
            name="description"
            content="NOSTA公式サイトです。NOSTAは模擬店などの小規模店舗でも簡単に導入できる販売支援サービスです。受付でのチケット・整理券の発券からレジ・在庫管理・オンライン注文までNOSTAにお任せください。"
        />
        <meta name="theme-color" content="#00517c" />
        <base target="_top" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/jquery.qrcode.min.js' %}"></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-KNEMN3XWCG');
        </script>
    </head>
    <body>
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item is-size-2 pt-1 pr-6" style="font-family: 'Noto Sans JP', sans-serif; color: #00517c" href="{% url 'top:home' %}"
                    ><img src="{% static 'image/long_logo.png' %}" style="max-height: 3.75rem" alt="ロゴ"
                /></a>
                <div class="is-hidden-desktop" style="width: 68vw"></div>
                <a class="navbar-item is-hidden-desktop mx-1" onclick="pagemove('products')" style="color: dimgray"><img src="{% static 'image/icon/list-solid.svg' %}" alt="商品リスト" /></a>
                <a class="navbar-item is-hidden-desktop js-modal-trigger" data-target="cart" style="color: dimgray"
                    ><img src="{% static 'image/icon/cart-shopping-solid.svg' %}" alt="カート" />
                    <div class="tag is-info is-light mx-1" id="cart_number_short">0</div></a
                >
                <a class="navbar-item is-hidden-desktop mx-1" onclick="pagemove('products')" style="color: dimgray" href="{% url 'userapp:index' %}"><img src="{% static 'image/icon/user-solid.svg' %}" alt="マイページ" /></a>
            </div>
            <div class="navbar-menu" id="nav-menu">
                <div class="navbar-start">
                    <a class="navbar-item mx-1" onclick="pagemove('products')" style="color: dimgray"><img src="{% static 'image/icon/list-solid.svg' %}" class="mx-3" alt="商品リスト" />商品</a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item mx-2" onclick="pagemove('products')" style="color: dimgray"  href="{% url 'userapp:index' %}">
                        <img src="{% static 'image/icon/user-solid.svg' %}" class="mx-3" alt="マイページ" />
                        マイページ
                    </a>
                    <a class="navbar-item mx-1 js-modal-trigger" data-target="cart" style="color: dimgray">
                        <img src="{% static 'image/icon/cart-shopping-solid.svg' %}" class="mx-3" alt="カート" />カート
                        <div class="tag is-info is-light mx-2" id="cart_number_large">0</div>
                    </a>
                </div>
            </div>
        </nav>
        <div style="margin-top: 100px">{% block content %}{% endblock %}</div>
    </body>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>© prasic-plus.com 2023</p>
        </div>
    </footer>
    <script>
        function openModal($el) {
            $el.classList.add('is-active');
        }
        function closeModal($el) {
            $el.classList.remove('is-active');
        }
        function createTrigger() {
            (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
                const target = $trigger.dataset.target;
                const $target = document.getElementById(target);
                $trigger.addEventListener('click', () => {
                    openModal($target);
                });
            });
            (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
                const $target = $close.closest('.modal');
                $close.addEventListener('click', () => {
                    closeModal($target);
                });
            });
        }
        createTrigger();
        pagemove('products');
    </script>
</html>
