{% extends 'market/base.html' %} {% block content %} {% load static %}
<div style="min-height: 90vh" id="main"></div>
<section>
    <div class="modal" id="cart">
        <div class="modal-background"></div>
        <div class="modal-card">
            <div class="modal-card-body">
                <div class="content">
                    <div id="cart_body" class="m-2"></div>
                    <div id="cart_empty">
                        <div class="hero">
                            <div class="hero-body">
                                <div class="subtitle has-text-centered">カートは空です</div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <strong>注文詳細</strong>
                    <div class="columns is-mobile">
                        <div class="column">
                            <p class="is-size-6"><c id="cart_number">0</c><c>点</c></p>
                            <button class="button is-info is-light" onclick="sum_cart_product()">再計算</button>
                        </div>
                        <div class="column">
                            <p class="is-size-3"><c style="font-size: 12px">￥</c><c id="cart_sum">0</c></p>
                        </div>
                    </div>
                    <button class="button is-fullwidth is-info is-outlined" onclick="showTreasurer()">注文へ進む</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="treasurer">
        <div class="modal-background"></div>
        <div class="modal-card">
            <div class="modal-card-body">
                <div class="content">
                    <div class="has-text-centered is-size-5">
                        <strong class="has-text-centered">注文</strong>
                    </div>
                    <p>注文詳細</p>
                    <div class="columns is-mobile my-4">
                        <div class="column">
                            <p class="is-size-6"><c id="cart_number_tr">0</c><c>点</c></p>
                        </div>
                        <div class="column">
                            <p class="is-size-3"><c style="font-size: 12px">￥</c><c id="cart_sum_tr">0</c></p>
                        </div>
                    </div>
                    <hr />
                    <div class="shopmessage mx-2 notification is-info is-light">
                        <strong class="my-2">店舗からのお知らせ</strong>
                        {{ shop.ucc_treasure | safe }}
                    </div>
                    <form class="form" onsubmit="return false;" method="POST">
                        <div class="my-4">
                            <label for="tr_date">受け取り希望日時</label>
                            <p class="help">受け取り希望日時を過ぎた場合の対応は店舗にお問い合わせください</p>
                            <input type="datetime-local" id="tr_date" name="tr_date" class="input" required />
                        </div>

                        <div class="notification is-danger is-light">
                            <b>注意</b><br />
                            ・注文は店舗での支払い、受け取りとなります<br />
                            ・商品の仕様、アレルギー品目(食品の場合)等は店舗公式サイト等でご確認ください<br />
                            ・この画面はNOSTAの画面です、注文にはNOSTA利用規約への同意が必要となります<br />
                        </div>
                        <div class="my-4">
                            <input type="checkbox" required />
                            <a class="js-modal-trigger" data-target="term">利用規約</a>と<a class="js-modal-trigger" data-target="privacy">プライバシーポリシー</a>に同意します
                        </div>
                        <button class="button is-fullwidth is-info is-outlined" onclick="tr_send()">注文する</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="result">
        <div class="modal-background"></div>
        <div class="modal-card">
            <div class="modal-card-body">
                <div class="content">
                    <div class="hero">
                        <div class="hero-body">
                            <div class="subtitle has-text-centered">ご注文ありがとうございました<br /><c class="my-2 is-size-6">注文内容はマイページでご確認ください</c></div>
                        </div>
                    </div>
                    <hr />
                    <a class="button is-fullwidth is-info is-outlined my-6" href="{% url 'userapp:index' %}">マイページ</a>
                    <button class="button is-fullwidth is-info is-outlined my-6" onclick="location.reload()">画面を閉じる</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function countdisplay(type, obj) {
        let parent = obj.parentNode.parentNode;
        let downbutton = parent.childNodes[1];
        let number = parent.childNodes[3];
        let upbutton = parent.childNodes[5];
        let limit = parent.childNodes[7];
        let new_number = 0;
        if (type == 'up') {
            if (Number(number.textContent) < Number(limit.textContent)) {
                new_number = Number(number.textContent) + 1;
            } else {
                new_number = Number(number.textContent);
            }
            if (new_number > 1) {
                downbutton.childNodes[0].removeAttribute('disabled');
            }
            if (new_number >= Number(limit.textContent)) {
                upbutton.childNodes[0].setAttribute('disabled', '');
            }
        } else if ((type = 'down')) {
            if (Number(number.textContent) > 1) {
                new_number = Number(number.textContent) - 1;
            } else {
                new_number = Number(number.textContent);
            }
            if (new_number == 1) {
                downbutton.childNodes[0].setAttribute('disabled', '');
            }
            if (new_number < Number(limit.textContent)) {
                upbutton.childNodes[0].removeAttribute('disabled');
            }
        }
        id = number.id.split('_')[0];
        document.getElementById(id + '_mobile_number').textContent = new_number;
        document.getElementById(id + '_desktop_number').textContent = new_number;
        number.textContent = new_number;
        if (number.id.indexOf('_cart') !== -1 && Number(number.textContent) == 1 && type == 'down') {
            deletecart(id);
        }
    }
    function showTreasurer() {
        sum_cart_product();
        let ele = document.getElementById('treasurer');
        if (document.getElementById('cart_number').textContent == 0) {
            window.alert('カートが空です');
            return;
        }
        closeModal(document.getElementById('cart'));
        openModal(ele);
    }
    function tr_send() {
        closeModal(document.getElementById('treasurer'));
        let products = document.getElementsByClassName('product_cell_id');
        let cart_numbers = document.getElementsByClassName('cart_product_number');
        let product_ids = new Array();
        let product_numbers = new Array();
        let product_number_sum = 0;
        if (cart_numbers.length == 0) {
            windows.alert('カートが空です');
        }
        for (let i = 0; i < products.length; i++) {
            let id = products[i].id.replace('_cart', '');
            let number = cart_numbers[i].textContent;
            product_ids.push(id);
            product_numbers.push(number);
            product_number_sum += Number(number);
        }
        var csrf_token = getCookie('csrftoken');
        path = "{% url 'market:index' shop.code %}";
        $.ajax({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', csrf_token);
                }
            },
            type: 'POST',
            url: path,
            data: {
                type: 'post_treasurer',
                products_ids: JSON.stringify(product_ids),
                products_numbers: JSON.stringify(product_numbers),
                number: product_number_sum,
                total_price: document.getElementById('cart_sum_tr').textContent,
                reserved_date: document.getElementById('tr_date').value,
            },
            dataType: 'text',
        })
            .done(function (data) {
                if (data == 'outofrange') {
                    window.alert('注文した商品に在庫が不足している商品がふくまれていたためキャンセルされました\n再読み込みします');
                    location.reload();
                } else if (data == 'limit') {
                    window.alert('注文数に制限のある商品で購入数が購入上限を超えています\n再読み込みします');
                    location.reload();
                }
                document.getElementById('result').classList.add('is-active');
                document.getElementById('cart_body').innerHTML = '';
            })
            .fail(function (data) {
                // error
                console.log(data);
                window.alert('通信エラーが発生しました(E-M100)');
            });
    }
    function sum_cart_product() {
        if (document.getElementById('cart_body').childElementCount == 0 && document.getElementById('cart_empty').hidden != false) {
            document.getElementById('cart_empty').removeAttribute('hidden');
        } else if (document.getElementById('cart_body').childElementCount != 0 && document.getElementById('cart_empty').hidden == false) {
            document.getElementById('cart_empty').setAttribute('hidden', '');
        }
        let sum = 0;
        let cart_numbers = document.getElementsByClassName('cart_product_number');
        let cart_prices = document.getElementsByClassName('cart_price');
        let product_number_sum = 0;
        for (let i = 0; i < cart_numbers.length; i++) {
            sum += cart_numbers[i].textContent * cart_prices[i].textContent;
            product_number_sum += Number(cart_numbers[i].textContent);
        }
        document.getElementById('cart_sum').textContent = sum;
        document.getElementById('cart_sum_tr').textContent = sum;
        document.getElementById('cart_number_short').textContent = product_number_sum;
        document.getElementById('cart_number_large').textContent = product_number_sum;
        document.getElementById('cart_number').textContent = product_number_sum;
        document.getElementById('cart_number_tr').textContent = product_number_sum;
    }
    function deletecart(p_id) {
        el = document.getElementById(p_id + '_cart');
        if (el == null) {
            return;
        } else {
            el.parentNode.remove();
        }
        sum_cart_product();
    }
    function addcart(p_id) {
        let target_elements = document.getElementById(p_id + '_mobile');
        if (document.getElementById(p_id + '_mobile_number') == '') {
            window.alert('数量を選択してください');
            return;
        } else if (document.getElementById(p_id + '_mobile_number').textContent > 6) {
            window.alert('範囲外の数値が選択されました');
            return;
        } else if (document.getElementById(p_id + '_mobile_number').textContent <= 0) {
            window.alert('範囲外の数値が選択されました');
            return;
        }
        if (document.getElementById(p_id + '_cart') != null) {
            window.alert('この商品はすでにカートに追加されています');
            return;
        }
        var csrf_token = getCookie('csrftoken');
        path = "{% url 'market:index' shop.code %}";
        $.ajax({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', csrf_token);
                }
            },
            type: 'POST',
            url: path,
            data: {
                type: 'add_cart',
                id: p_id,
                number: document.getElementById(p_id + '_mobile_number').textContent,
            },
            dataType: 'html',
        })
            .done(function (data) {
                let cart = document.getElementById('cart_body');
                let base = document.createElement('div');
                base.innerHTML = data;
                cart.appendChild(base);
                window.alert('カートに追加しました');
                sum_cart_product();
            })
            .fail(function (data) {
                // error
                console.log(data);
                window.alert('通信エラーが発生しました(E-M100)');
            });
    }
    // csrf_tokenの取得に使う
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
    }
    function pagemove(target) {
        if (target == 'products') {
            var csrf_token = getCookie('csrftoken');
            path = "{% url 'market:index' shop.code %}";
            $.ajax({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader('X-CSRFToken', csrf_token);
                    }
                },
                type: 'POST',
                url: path,
                data: {
                    type: 'get_products',
                },
                dataType: 'html',
            })
                .done(function (data) {
                    document.getElementById('main').innerHTML = data;
                })
                .fail(function (data) {
                    // error
                    console.log(data);
                    window.alert('通信エラーが発生しました(E-M100)');
                });
        }
    }
</script>
{% endblock %}
