{% extends 'auth_base.html' %} {% block content %}{% load static %}
<strong>ようこそ {{ user.username }} さん</strong>
<div class="is-size-3">店舗を選択してください</div>
<div class="mt-6">
    <ul>
        {% for shop in shops %}
        <hr />
        <li><a href="{% url 'ticket:dashboard' shop.code %}" class="is-fullwidth my-2 arrow" style="width: 100%;">{{ shop.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<hr />
<a href="{% url 'shop:register' %}" class="button is-info is-light is-fullwidth">新規作成</a>
{% endblock %}
