{% extends 'auth_base.html' %} {% block content %}{% load static %}
<form class="px-6" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="email" name="userid" id="userid" class="input my-2" placeholder="ユーザーID" required />
    <input type="password" name="password" name="password" class="input my-2" placeholder="パスワード" required />
    <p class="help has-text-danger">{{ error }}</p>
    <input type="submit" class="button is-rounded is-fullwidth my-4 is-info is-light" value="ログイン" />
</form>
<hr class="hr-text" data-content="OR" style="background-color: white" />
<div class="px-6 mb-4">
    <p><a href="{% url 'register' %}" class="button is-rounded my-4 is-gray is-light is-fullwidth">新規作成</a></p>
    <p class="help">他のアカウントで始める</p>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
        <span class="icon has-text-info">
            <i class="fab fa-google fa-lg"></i>
        </span>
    </a>
</div>
{% endblock %}
