{% extends 'auth_base.html' %} {% block content %}{% load static %}
<form class="px-6" method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <input type="email" name="userid" id="userid" class="input my-2" placeholder="ユーザーID" required />
    <input type="text" name="username" id="username" class="input my-2" placeholder="ユーザー名" required />
    <input type="password" name="password" name="password" class="input my-2" placeholder="パスワード" required />
    <input type="password" name="password2" name="password2" class="input my-2" placeholder="パスワード(確認)" required />
    <input type="checkbox" required />
    <a class="js-modal-trigger" data-target="term">利用規約</a>と<a class="js-modal-trigger" data-target="privacy">プライバシーポリシー</a>に同意します
    <p class="help has-text-danger">{{ error }}</p>
    <input type="submit" class="button is-rounded is-fullwidth my-4 is-info is-light" value="登録" />
</form>
<hr class="hr-text" data-content="OR" style="background-color: white" />
<div class="px-6 mb-4">
    <p><a href="{% url 'login' %}" class="button is-rounded my-4 is-gray is-light is-fullwidth">ログイン</a></p>
    <p class="help">他のアカウントで始める</p>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}"> <img src="{% static 'image/icon/google.svg' %}" alt="Googleで始める" /></a>
    </a>
</div>
<div class="modal" id="term">
    <div class="modal-background"></div>
    <div class="modal-card" style="height: 100%">
        <section class="modal-card-body">
            <strong>利用規約</strong>
            <br />
            <iframe src="{% static 'html/policy/term.html' %}" width="100%" height="95%"></iframe>
        </section>
    </div>
</div>
<div class="modal" id="privacy">
    <div class="modal-background"></div>
    <div class="modal-card" style="height: 100%">
        <section class="modal-card-body">
            <strong>プライバシーポリシー</strong>
            <br />
            <iframe src="{% static 'html/policy/privacy.html' %}" width="100%" height="95%"></iframe>
        </section>
    </div>
</div>
<script>
    function openModal($el) {
        $el.classList.add('is-active');
    }
    function closeModal($el) {
        $el.classList.remove('is-active');
    }
    function createTrigger() {
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const $target = document.getElementById($trigger.dataset.target);
            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');
            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });
    }
    createTrigger();
</script>
{% endblock %}
