<section>
    <div class="my-3"><strong class="is-size-6 mt-3">購入詳細情報</strong></div>
    {% if order == None %}
    <section class="hero is-light" style="width: 100%">
        <div class="hero-body">
            <p class="title">一致する伝票がありません</p>
            <p class="subtitle">{{ message }}</p>
        </div>
    </section>
    {% else %}
    <input hidden id="pid" value="{{ order.id }}" />
    <input hidden id="secret" value="{{ order_secret }}" />
    <p><c style="font-size: 12px">処理日時</c><br /><b style="font-size: max(1vw, 15px)">{{ order.created_at }}</b></p>
    <p><c style="font-size: 12px">最終更新日時</c><br /><b style="font-size: max(1vw, 15px)">{{ order.finished_at }}</b></p>
    <p><c style="font-size: 12px">状態</c><br /><b style="font-size: max(1vw, 15px)">{{ order.status }}</b></p>
    <p><c style="font-size: 12px">個数</c><br />{{ order.number }}</p>
    <p><c style="font-size: 12px">合計金額</c><br />{{ order.total_price }}円</p>
    <p><c style="font-size: 12px">予約来店日時</c><br />{{ order.reserved_date }}</p>
    <hr />
    <div id="img-qr-ordercode" style="margin: 15px"></div>
    <hr class="my-3" />
    <div class="my-3"><strong class="is-size-6 mt-3 my-6">購入商品情報</strong></div>
    <section>
        {% if products.count == 0 %}
        <section class="hero is-light">
            <div class="hero-body">
                <p class="title">No Data</p>
                <p class="subtitle">情報が取得できません</p>
            </div>
        </section>
        {% else %} {% for opr in products %}
        <div class="container card card-content m-1">
            <div class="columns" style="width: 100%">
                <div class="column is-4"><c style="font-size: 12px">商品名</c><br />{{ opr.product.name }}</div>
                <div class="column is-2"><c style="font-size: 12px">カテゴリー</c><br />{{ opr.product.category }}</div>
                <div class="column is-2"><c style="font-size: 12px">キャンセル</c><br />{% if opr.product.cancel %}不可{% else %}可{% endif %}</div>
                <div class="column is-2"><c style="font-size: 12px">数量</c><br />{{ opr.number }}個</div>
                <div class="column is-2"><c style="font-size: 12px">単価</c><br />{{ opr.price }}円</div>
            </div>
        </div>
        {% endfor %} {% endif %}
    </section>
    {% endif %} {% if order.status == "reserved" %}
    <hr />
    <section class="m-6">
        <div class="my-4">
            <label for="tr_date">受け取り希望日時の変更</label>
            <p class="m-2"><c style="font-size: 12px">現在の予約来店日時</c><br />{{ order.reserved_date }}</p>
            <input type="datetime-local" id="re_date" name="re_date" class="input m-2" />
            <button class="button is-info is-outlined is-fullwidth m-2" onclick="settings_ajax_handler('changedate')">来店日時を変更</button>
        </div>
    </section>
    <hr />
    <section class="m-6">
        <button class="button is-danger is-outlined is-fullwidth" onclick="settings_ajax_handler('cancel')">注文をキャンセル</button>
    </section>
    {% endif %}
</section>
