<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>{{ orgname }} {{ username }}様</title>
    </head>
    <body>
        <p>このたびはお問合せいただき、誠にありがとうございました。</p>
        <p>内容を拝見致しまして、折り返しご連絡を致します。</p>
        <p>その他、何かご不明な点等ございましたら、お気軽にお問合せください。</p>
        <p>お問い合わせ内容:</p>
        <table>
            <tr>
                <td>お名前:</td>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <td>メールアドレス:</td>
                <td>{{ mail }}</td>
            </tr>
            <tr>
                <td>お問い合わせ内容:</td>
                <td>{{ content }}</td>
            </tr>
        </table>

        <p>このメールアドレスは送信専用です。</p>
    </body>
</html>
